.color-primary{
    color: $color-primary;
}

.color-primary-bg{
    background: $color-primary;
}

.color-secondary{
    color: $color-secondary;
}

.color-secondary-bg{
    background: $color-secondary;
}

.color-third{
    color: $color-third;
}

.color-third-bg{
    background: $color-third;
}
.color-fourth{
    color: $color-fourth;
}

.color-fourth-bg{
   background: $color-fourth;
}