$font-open: "Open Sans Condesed", cursive;
$font-libre: "Libre Caslon Display", cursive;
$font-srisakdi: "Srisakdi", cursive;
$font-great: "Great Vibes", cursive;
$font-poppins: "Poppins" cursive;
$font-bebas: "Bebas Neue", cursive;
$color-primary: #003859;
$color-secondary: #00A5C4;
$color-third: #FFD289;
$color-fourth: #fff;